<form action="{:sysuri()}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <div class="layui-row layui-col-space15 margin-bottom-5">
           
            <div class="layui-col-xs4 padding-bottom-0">
                <label class="layui-form-item margin-bottom-5 relative block">
                    <span class="help-label"><b>后台程序名称</b>App Name</span>
                    <input name="app_name" required placeholder="请输入程序名称" value="{:sysconf('app_name')}" class="layui-input">
                    <span class="help-block">管理程序名称显示在后台左上标题处 ~</span>
                </label>
            </div>
            <div class="layui-col-xs4 padding-bottom-0">
                <label class="layui-form-item margin-bottom-5 relative block">
                    <span class="help-label"><b>后台程序版本</b>App Version</span>
                    <input name="app_version" placeholder="请输入程序版本" value="{:sysconf('app_version')}" class="layui-input">
                    <span class="help-block">管理程序版本显示在后台左上标题处 ~</span>
                </label>
            </div>
           

            <div class="layui-col-xs4 padding-bottom-0">
                <div class="help-label label-required-prev"><b>后台默认配色</b>Theme Style</div>
                <select class="layui-select" name="app_theme" lay-filter="SiteTheme">
                    {foreach $themes as $k=>$v}{if sysconf('base.app_theme') eq $k}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/if}{/foreach}
                </select>
            </div>
            <div class="layui-col-xs12 padding-top-0 padding-bottom-0">
                <span class="help-block">后台登录入口是由英文字母开头，且不能有相同名称的模块，设置之后原地址不能继续访问，请谨慎配置 ~</span>
            </div>
        </div>

        <div class="layui-form-item margin-bottom-5">
            <div class="help-label"><b>登录背景图片</b>Background Image</div>
            <div class="layui-textarea help-images">
                <input type="hidden" value="{:sysconf('login_image')}" name="login_image">
            </div>
        </div>

     
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">保存配置</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消修改吗？" data-close>取消修改</button>
    </div>
</form>

<script>
    $('[name=login_image]').uploadMultipleImage();
    layui.form.on('select(SiteTheme)', function (data) {
        var alls = '', prox = 'layui-layout-theme-', curt = prox + data.value;
        $(data.elem.options).map(function () {
            if (this.value !== data.value) alls += ' ' + prox + this.value;
        });
        $('.layui-layout-body').removeClass(alls).addClass(curt)
    });
</script>